.form {
  margin: 20px 10%;
  display: flex;
  flex-direction: column;
  &__label {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
  }
  &__container {
    width: 100%;
    @include tablet {
      display: flex;
      align-items: center;
    }
  }
  &__input {
    border-radius: 3px;
    border: $ppalColor solid 1.5px;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    @include tablet {
      width: 310px;
    }
  }
  &__btn {
    display: flex;
    width: 200px;
    justify-content: space-between;
    @include tablet {
      margin-left: 30px;
    }
    &--search {
      width: 90px;
      padding: 7px;
      border-radius: 50px;
      border: none;
      background-color: $ppalColor;
      color: $scndColor;
      cursor: pointer;
      box-shadow: 3px 3px 7px rgba($color: $ppalColor, $alpha: 0.3);
      @include tablet {
        height: 33px;
      }
    }
    &--reset {
      width: 90px;
      width: 90px;
      padding: 7px;
      border-radius: 50px;
      border: none;
      background-color: $deleteColor;
      color: $scndColor;
      cursor: pointer;
      box-shadow: 3px 3px 7px rgba($color: $ppalColor, $alpha: 0.3);
    }
  }
}
