//Estilos especiales para usar con js
.hidden {
  display: none;
}

.favorite {
  border-radius: 10px;
  background-color: rgb(27, 18, 37);
  color: white;
}

//Estilos de las listas de resultados y favoritos
.anime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 10%;
  }
  &__favorites {
    background-color: rgb(218, 212, 224);
    //filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    @include tablet {
      order: -1;
      width: 300px;
      margin-right: 20px;
    }
    &--list {
      &--el {
        display: flex;
        justify-content: center;
      }
      &--container {
        padding: 15px 0;
        margin: 8px 30px;
      }
      &--remove {
        color: rgb(119, 29, 37);
        background-color: rgba(255, 255, 255, 0.747);
        border: solid rgb(119, 29, 37) 3px;
        border-radius: 50px;
        box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.322);
        font-size: 40px;
        position: absolute;
        transform: translate(110px, 5px);
        cursor: pointer;
      }
    }
    &--title {
      font-size: 20px;
      font-weight: lighter;
      padding: 10px;
      background-color: rgb(27, 18, 37);
      border-radius: 20px 20px 0 0;
      color: white;
      margin-bottom: 15px;
    }
    &--btn {
      font-size: 20px;
      margin-bottom: 20px;
      width: 200px;
      padding: 7px;
      border-radius: 50px;
      border: none;
      background-color: rgb(119, 29, 37);
      color: white;
      cursor: pointer;
      box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.3);
    }
  }
  &__results {
    background-color: rgb(218, 212, 224);
    order: -1;
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    @include tablet {
      margin: 0;
    }
    &--list {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      &--el {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        margin: 8px 15px;
        width: 260px;
        cursor: pointer;
        @include tablet {
          margin: 8px;
        }
      }
      &--title {
        margin-top: 5px;
        max-width: 200px;
      }
    }
    &--title {
      font-size: 20px;
      font-weight: lighter;
      padding: 10px;
      background-color: rgb(27, 18, 37);
      border-radius: 20px 20px 0 0;
      color: white;
      margin-bottom: 15px;
    }
  }
}
