//Estilos especiales para usar con js
.hidden {
  display: none;
}

.favorite {
  border-radius: 10px;

  background-color: rgb(27, 18, 37);
  color: white;
}

//Estilos de las listas de resultados y favoritos
.anime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 10%;
  }
  &__favorites {
    background-color: rgb(218, 212, 224);
    border-radius: 20px;
    width: 80%;
    text-align: center;
    @include tablet {
      order: -1;
      width: 300px;
      margin-right: 20px;
    }
    &--title {
      font-size: 20px;
      font-weight: lighter;
      padding: 10px;
      background-color: rgb(27, 18, 37);
      border-radius: 20px 20px 0 0;
      color: white;
    }
  }
  &__results {
    background-color: rgb(218, 212, 224);
    order: -1;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    @include tablet {
      width: calc(80% - 320px);
    }
    &--title {
      font-size: 20px;
      font-weight: lighter;
      padding: 10px;
      background-color: rgb(27, 18, 37);
      border-radius: 20px 20px 0 0;
      color: white;
    }
  }
  &__resultlist {
    @include tablet {
      flex-direction: row;

      flex-wrap: nowrap;
    }
    &--el {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
      margin: 8px 15px;
      @include tablet {
        max-width: 300px;
      }
    }
  }
  &__favlist {
    &--el {
      display: flex;
      justify-content: center;
    }
    &--container {
      padding: 15px 0;
      margin: 8px 30px;
    }
    &--remove {
      color: rgb(
        27,
        18,
        37
      ); //bsucar logo que tenga relleno y ponerlo rojo, llamativo
      background-image: cover;
      font-size: 40px;
      position: absolute;
      transform: translate(80px, 30px);
    }
  }
}
